body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
.container {
    flex: 1;  
}
ul {
    list-style: none;
    padding-left: 0;
  }
footer {
    background-color: black;
    color: #bbb;
    line-height: 1.5;
    margin-top: 300px;
  }
.ft-main{
    display: flex;
    flex-direction: row;
}
.ft-main-item{
    min-width: 300px;
    padding: 10px;
}
.ft-title{
    text-align: center;
    padding: 20px;
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
}
p{
    text-align: center;
    color: white;
}
.contact{
    position: relative;
    left: 80px;
    text-decoration: none;
    color: white;
}
.contact:hover{
    color: #302b60;
}
.ft-logo{
    position: relative;
    top: -30px;
    left: 50px;
}
input[type="email2"] {
    
    padding: 10px;
    
}
input[type="submit"] {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin-top: 30px;
    padding: 10px;
    
}
.ft-social{
    padding: 10px;
}
.ft-social-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    margin-top: 20px;
}
.ft-social-list li{
    padding: 10px 10px;
}
.fab{
    color: blue;
}
.fab:hover{
    color: white;
}
.ft-legal{
    background-color: blue;
    padding: 10px;
}
.ft-legal-list{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.ft-legal-list li{
    color: white;
    min-width: 350px;
    margin: 20px 100px;
    
}
.end{
    text-decoration: none;
    color: white;
}