*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    font-weight: 300;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: max-content;
    padding-bottom: 100px;
}
.logo{
    width: 150px;
    height: 150px;
}
.card{
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    width: 400px;
    box-shadow:
    0 36.4px 28.9px -28px rgba(0, 0, 0, 0.25),
    0 51.2px 57.3px -28px rgba(0, 0, 0, 0.265),
    0 59.5px 84.3px -28px rgba(0, 0, 0, 0.273),
    0 64.5px 107.9px -28px rgba(0, 0, 0, 0.274),
    0 67.9px 127.6px -28px rgba(0, 0, 0, 0.266),
    0 70.7px 144.7px -28px rgba(0, 0, 0, 0.248),
    0 74.7px 160.6px -28px rgba(0, 0, 0, 0.215),
    0 86px 176px -28px rgba(0, 0, 0, 0.156);
}

.card h1{
    text-align: center;
    padding-bottom: 50px;
}
.label{
    font-size: 20px;
    padding-left: 5px;
}

.firstname,
.lastname,
.email_id,
.pass1,
.pass2{
    position: relative;
    /* left: -5px; */
}

.username,
.f_name,
.l_name,
.email,
.password1,
.password2{
    width: 80%;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-left: 50px;
    margin-right: 50px;
}

.username:focus,
.f_name:focus,
.l_name:focus,
.email:focus,
.password1:focus,
.password2:focus {
    outline: 0;
    border: 2px solid #302b70;
}

i{
    color: blue;
    position: relative;
    top: -72px;
    left: 7px;
}

button{
    font-size: 20px;
    width: 100%;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    height: 50px;
    color: white;
    background:linear-gradient(to right,blue,#565ef5);
    cursor: pointer;
}

button:focus{
    outline: 0;
}

.warnings{
    color: red;
    position: relative;
    top: -30px;
    left: 30px;
}