{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <footer>
        <section class="ft-main">
            <div class="ft-main-item">
                <h2 class="ft-title">BUY WITH TIME !</h2>
                <img src="/static/img/Logo.png" width="200px" height="200px" class="ft-logo">
            </div>

            <div class="ft-main-item">
              <h2 class="ft-title">About Us</h2>
              <p>Many customers spend a significant chunk of time visiting the stores which are sometimes away
                   from the city. This project will serve the customers by rewarding their efforts by repaying them
                    for the time spent reaching the stores.</p>
            </div>

            <div class="ft-main-item">
                <h2 class="ft-title">Contact Us</h2>
                <p>69, Kamla Nagar<br>New Delhi, 110007</p><br>
                <a href="#" class="contact">+91 9765083294</a><br>
                <a href="#" class="contact">support@gmail.com</a>
            </div>

            <div class="ft-main-item">
                <h2 class="ft-title">Stay Updated</h2>
                <p>Subscribe to our newsletter to get our latest news.</p>
                <form>
                    <input type="email2" name="email" placeholder="Enter email address">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </section>

        <section class="ft-social">
            <ul class="ft-social-list">
              <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-github fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube fa-2x"></i></a></li>
            </ul>
        </section>
         
        <section class="ft-legal">
            <ul class="ft-legal-list">
              <li><a href="#" class="end">Terms &amp; Conditions</a></li>
              <li><a href="#" class="end">Privacy Policy</a></li>
              <li class="end">&copy; 2021 Copyright BUY WITH TIME !</li>
            </ul>
        </section>
    </footer>
</body>
</html>